body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  background: rgb(165, 196, 185);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 10px 10px;
}

button {
  background: #6c63ff;
  color: white;
  border: none;
  padding: 10px 20px;
}